.wraper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#1f1fca 0.25px, transparent 0.25px),
    radial-gradient(#1f1fca 0.25px, #e5e5f7 0.25px);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.content {
  padding: 40px 25px;
  margin: 20px;
  position: relative;
  display: flex;
  max-width: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 30%);
}
.h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary--dark);
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.formGroup {
  position: relative;
}
.formGroup_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary);
}

.formGroup_input:not(:placeholder-shown) {
  color: #252424;
}

.formGroup_input:focus + .label,
.formGroup_input:not(:placeholder-shown) + .label {
  transform: translateY(-10px) scale(0.85);
  transform-origin: top left;
  color: var(--primary);
}

.label {
  font-size: 1rem;
  color: #706c6c;
  position: absolute;
  left: 5px;
  top: 0;
  transform: translateY(10px);
  transition: transform 0.2s ease-in-out;
}

.volver {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.2rem;
  color: #4e3ac2;
  cursor: pointer;
  width: 26px;
  background: none;
  border: none;
  outline: none;
}

.btnSubmit {
  background-color: var(--primary);
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.btnSubmit:hover {
  filter: brightness(90%);
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;
  transition: width 0.2s ease-in-out;
}

.formGroup_input:focus ~ .line,
.formGroup_input:not(:placeholder-shown) ~ .line {
  width: 0;
}

.error {
  background-color: #db0d0d;
  color: #ece5e5;
  font-size: 1rem;
  padding: 15px 15px;
  width: 100%;
  position: relative;
  border-radius: 6px;
}
.btn_err:hover {
  filter: brightness(90%);
}
.btn_err {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  width: 26px;
  border: none;
  background: none;
  padding: 2px;
}

@media screen and (min-width: 600px) {
  .h2 {
    font-size: 28px;
  }
}
